body{
	background: #f5f5f5;
	padding-bottom: 2rem;
}
.container{
	max-width: 64rem;
	margin: 0 auto;
	overflow-x: hidden;
}
.nav-container{
	width: 100%;
	background: white;
	padding-top: 2vh;
}
.nav-ul{
	padding-left:.5rem;
}
.nav-ul li{
	height: 2.5rem;
	width: auto !important;
	padding-bottom:1rem ;
}
.nav-ul .slide-a{
	color: #555;
	font-size: 1.2rem;
	padding: 0px 1.4rem .8rem 1.4rem;
}
.nav-ul .active-li a{
	color: #000;
	/*border-bottom: 2px solid #000;*/
}
.nav-ul .active-li {
	
	border-bottom: 2px solid #000;
}
.fall-box .item{
	float: left;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-top:20px;
}
body{
	padding-bottom:0px;
}
.t-right-new {
	position: absolute;
	width: 100px;
	height: 30px;
	background-color: red;
	color: white;
	text-align: center;
	transform: rotate(-40deg);
	top: 6px;
	left: -24px;
}

.t-right-new p {
	font-size: 19px;
	line-height: 30px;
	margin: 0;
}
/*瀑布流*/
.fall-box{
    width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.fall-box .box-y{
	flex: 1;
	margin: 0 5px;
}
/*.fall-box .item:nth-child(1n){
   padding: 3% 1.5% 3% 3%;
}
.fall-box .item:nth-child(2n){
   padding: 3% 3% 3% 1.5%;
}*/
.fall-box .section-p{
	 background: white;
	 padding-top: 0.5rem;
}
.fall-box .item-img{
	width:100% ;
	display: block;
}
.item .title-p{
	color: #000;
	font-size: 1.2rem;
	margin-bottom: .5rem;
}
.item .name-p{
	color: #555;
	font-size: 1rem;
}
.item .price-p{
	margin-top: .8rem;
	color: #444;
	font-size: 1.2rem;
	padding-bottom: 1.2rem;
	text-align: center;

}
.more-a{
	display: block;
	text-align: center;
	margin-top: 8%;
}
.more-a img{
	width: 6%;
}










